ul li a {
    text-decoration: underline;
    color: white;
}

li {
    display: inline;
    margin-top: 10px;
}

nav {
    background-color: black;
    height: 30px;
    width: 1000px;
    margin-bottom: 5px;
}

body {
    max-width: 1000px;
    margin: auto;
}

.colonnedroite {
    background-color: rgb(199, 197, 197);
    width: 400px;
    height: 560px;
    float: right;
    margin-bottom: auto;
}

h2 b {
    font-size: 12pt;
}

.text {
    margin-left: 500px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18pt;
}

.box {
    font-size: 21px;
}

.img {
    float: left;
    width: 170px;
}

.promo {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .colonnedroite {
        display: none;
    }
    li {
        display: block;
    }
    .outer {
        font-size: 20px;
        text-align: justify;
        margin-left: 8px;
        margin-right: 8px;
    }
    .text {
        margin-left: 300px;
    }
    nav {
        background-color: black;
        height: 80px;
    }
    .promo {
        max-width: 100%;
        height: auto;
    }
    h2 {
        font-size: 100%;
    }
    .img {
        float: left;
        width: 100px;
    }
}